*{
    font-family:'Open sans', sans-serif;
    padding: 0;
    margin: 0;
    
}
body
{
    height: 100vh;
    background-image: url(./chuva\ blur.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.relogio
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    width: 600px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0px);
    
    border-radius: 15px;
}
.relogio:hover
{   
    
    backdrop-filter: blur(1.5px);
    transform: scale(1.05,  1.05);
}
.relogio div
{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius:7px;
    letter-spacing: 3px;
}
.relogio span
{
    font-weight: bolder;
    font-size: 60px;
}
.relogio span.tempo
{
    font-size: 10px;
}

@media  (max-width:768px)
{
    .relogio
    {
        height: 150px;
        width: 300px;
    }
    .relogio div
    {
        height: 100px;
        width: 80px;
    }
    .relogio span
    {
        font-weight: bolder;
        font-size: 30px;
    }
    .relogio span.tempo
    {
        font-size: 5px;
    }
}
